# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/*
![Bb]uilds/README.md
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
*.alf
*.ulf

# IDE files
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# OS files
.DS_Store
Thumbs.db
